.header {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  width: 97.5%;
}

.content {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid black;
  width: 97.5%;
  height: 767px;
}

.checkbox {
  display: flex;
  margin-left: 20px;
}

.checkbox input {
  margin-right: 20px;
}
