.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 76.3%;
  height: 80px;
  margin-left: 20px;
}

.in {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
