.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  height: 80px;
  margin-left: 20px;
  border: 1px solid black;
}

.p {
  font-size: 20px;
  margin-left: 10px;

}

button {
  margin-left: 20px;
  width: 100px;
  height: 30px;
  font-size: 18px;
}
