.header {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 97.5%;
}

.div {
  border: 1px solid black;
  width: 91%;
  margin-left: 20px;
}

.input {
  width: 20%;
  height: 40px;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 40%;
  text-align: center;
}

.button {
  width: 6%;
  height: 60px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.h1 {
  margin-left: 20px;
}
