.header {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 97.5%;
}

.div {
  border: 1px solid black;
  margin-left: 20px;
  width: 91%;
}

.h1 {
  margin-left: 20px;
}
