.header {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 97.5%;
}

.div {
  border: 1px solid black;
  width: 91%;
  margin-left: 20px;
}

.div h1 {
  margin-left: 20px;
}

.content {
  margin-left: 20px;
  height: 730px;
  overflow-y: auto;
}
