.header {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 97.5%;
}

.div {
  border: 1px solid black;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  margin-left: 20px;
}

.table {
  height: 76vh;
}

.button button {
  width: 130px;
  margin-right: 20px;
  height: 50px;
  font-size: 20px;
}
